#titulo{
    text-align: center;
}
#login{
        background: #000;
        margin-top:5rem
    }
#cadastro{
        background:#fff;
        border: 1px solid #000;
        color: #000;
        margin-top: 2rem;
    }

